@{
    ViewBag.Title = "Pesquisa de Cinema";
    ViewBag.Style = "PesquisacinemaPage.css";

}


<body onload="dados()">
    <main>
        <div class="container_pesquisa">
            <button id="button_home">
                <a href="ferqyfq.html">
                    <img src="~/Content/images/icon_home.png">
                </a>
            </button>

            <button id="button_notificacao">
                <a href="ferqyfq.html">
                    <img src="~/Content/images/icon_notificacao.png">
                </a>

            </button>

            <div id="div_identificacao">
                <img src="~/Content/images/Chagasperfil.png">
                <p>Beatriz Chagas</p>
                <div id="div_indifica_role">
                    <p>Linda</p>
                </div>
            </div>

            <div id="divBusca">
                <input type="text" id="txtBusca" >
                <button onclick="pesquisar()"><img id="imgBusca" src="~/Content/images/lupapesquisa.png" width="30px" id="btnBusca" alt="Buscar"></button>
            </div>
        </div>

        <div class="container_menu_content">
            <div class="container_menu">
                <nav class="menu">
                    <img id="framming_logo_menu" src="~/Content/images/framminglogo.png" />
                    <ul>
                        <div class="menu_container">
                            <button id="button_cliente_menu">
                        <li><a href="cad_func"><img src="~/Content/images/icon_cliente.png"></a></li></button>
                        <button id="button_mensagens_menu">
                        <li><a href="Verpostadm"><img src="~/Content/images/icon_mensagens.png"></a></li></button>
                        <button id="button_identificacao_menu">
                        <li><a href="#"><img src="~/Content/images/icon_identificacao.png"></a></li></button>
                        <button id="button_theater_menu">
                        <li><a href="Cad_cinema"><img src="~/Content/images/theater.png"></a></li></button>
            </div>
            </ul>
            <ul>
                <div class="buttons_sair_configuracao">
                    <button id="button_sair_menu">
                <li><a href="#"><img src="~/Content/images/icon_saida.png"></a></li></button>
                <button id="button_configuracao_menu">
                <li><a href="#"><img src="~/Content/images/configuracao.png"></a></li></button>
        </div>
        </ul>
        </nav>

        </div>
        <div class="container_content">
            <div class="container_main">
                <button class="cadastrar_novo_cinema">Cadastrar novo Cinema</button>
                <center>
                    <div class="rotulos_usuarios">
                        <p class="rotulo">Nome</p>
                        <p class="rotulo">Salas</p>
                        <p class="rotulo">codigo</p>
                        <div class="gap"></div>
                    </div>

                    <div class="inner-div" id="inner">

                        <script>
                            function dados() {
                                var divRes = document.getElementById("inner")
                                fetch("https://framming-api.onrender.com/cinema").then(resposta => {
                                    return resposta.json()
                                }).then(corpo => {

                                    console.log(corpo)

                                    for (pos = 0; pos <= corpo.length; pos++) {

                                        var nameCinema = document.createElement("p")
                                        var room = document.createElement("p")
                                        var code = document.createElement("p")
                                        var container = document.createElement("div")
                                        var gap = document.createElement("div")
                                        var line = document.createElement("hr")
                                        divRes.appendChild(container)
                                        container.appendChild(nameCinema)
                                        nameCinema.innerHTML = corpo[pos].nomeCinema
                                        container.appendChild(room)
                                        room.innerHTML = corpo[pos].qtdSala
                                        container.appendChild(code)
                                        code.innerHTML = corpo[pos].tokenCinema
                                        container.appendChild(gap)
                                        divRes.appendChild(line)
                                        line.className = "line"
                                        gap.className = "gap"
                                        container.className = "lista_cinema"
                                        nameCinema.className = "resultado_name"
                                        room.className = "resultado"
                                        code.className = "resultado"

                                    }



                                    console.log(corpo)
                                })
                            }

                            function remove() {
                                let listaApag = document.querySelectorAll(".lista_cinema")
                                let linhaApag = document.querySelectorAll(".line")

                                if (listaApag) {
                                    listaApag.forEach(function (elemento) {
                                        elemento.remove()
                                    })
                                    linhaApag.forEach(function (elemento) {
                                        elemento.remove()
                                    })
                                }
                            }
                            

                            function pesquisar() {
                                remove()
                                let string = document.getElementById("txtBusca").value
                                var divRes = document.getElementById("inner")

                                fetch(`https://framming-api.onrender.com/cinema/${string}` ).then(resposta => {
                                    return resposta.json()
                                }).then(corpo => {

                                    console.log(corpo)

                                    var nameCinema = document.createElement("p")
                                    var room = document.createElement("p")
                                    var code = document.createElement("p")
                                    var container = document.createElement("div")
                                    var gap = document.createElement("div")
                                    var line = document.createElement("hr")
                                    divRes.appendChild(container)
                                    container.appendChild(nameCinema)
                                    nameCinema.innerHTML = corpo.nomeCinema
                                    container.appendChild(room)
                                    room.innerHTML = corpo.qtdSala
                                    container.appendChild(code)
                                    code.innerHTML = corpo.tokenCinema
                                    container.appendChild(gap)
                                    divRes.appendChild(line)
                                    line.className = "line"
                                    gap.className = "gap"
                                    container.className = "lista_cinema"
                                    nameCinema.className = "resultado_name"
                                    room.className = "resultado"
                                    code.className = "resultado"
                                })
                            }




                        </script>




                    </div>

                </center>
            </div>



        </div>


    </main>


