@{
    ViewBag.Title = "Cadastro de Cinema";
    ViewBag.Style = "UsuariosPage.css";

}

<body>
    <main>
        <div class="container_pesquisa">
            <button id="button_home">
                <a href="ferqyfq.html">
                    <img src="~/Content/images/icon_home.png">
                </a>
            </button>

            <button id="button_notificacao">
                <a href="ferqyfq.html">
                    <img src="~/Content/images/icon_notificacao.png">
                </a>

            </button>

            <div id="div_identificacao">
                <img src="~/Content/images/Chagasperfil.png">
                <p>Beatriz Chagas</p>
                <div id="div_indifica_role">
                    <p>Linda</p>
                </div>
            </div>

            <div id="divBusca">
                <input type="text" id="txtBusca" img src="~/Content/images/lupapesquisa.png">
                <img id="imgBusca" src="~/Content/images/lupapesquisa.png" width="30px" id="btnBusca" alt="Buscar">
            </div>
        </div>

        <div class="container_menu_content">
            <div class="container_menu">
                <nav class="menu">
                    <img id="framming_logo_menu" src="~/Content/images/framminglogo.png" />
                    <ul>
                        <div class="menu_container">
                            <button id="button_cliente_menu">
                        <li><a href="cad_func"><img src="~/Content/images/icon_cliente.png"></a></li></button>
                        <button id="button_mensagens_menu">
                        <li><a href="Verpostadm"><img src="~/Content/images/icon_mensagens.png"></a></li></button>
                        <button id="button_identificacao_menu">
                        <li><a href="#"><img src="~/Content/images/icon_identificacao.png"></a></li></button>
                        <button id="button_theater_menu">
                        <li><a href="Cad_cinema"><img src="~/Content/images/theater.png"></a></li></button>
            </div>
            </ul>
            <ul>
                <div class="buttons_sair_configuracao">
                    <button id="button_sair_menu">
                <li><a href="#"><img src="~/Content/images/icon_saida.png"></a></li></button>
                <button id="button_configuracao_menu">
                <li><a href="#"><img src="~/Content/images/configuracao.png"></a></li></button>
        </div>
        </ul>
        </nav>

        </div>
        <div class="container_content">
            <div class="container_main">
                <center>
                    <div class="rotulos_usuarios">
                        <p class="beatriz">Nome</p>
                        <p class="beatriz">Usúario</p>
                        <p class="beatriz">Email</p>
                        <div class="gap"></div>
                    </div>

                    <div class="inner-div">
                        <div class="lista_usuarios">

                        </div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios">

                        </div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios">

                        </div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios">

                        </div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios">

                        </div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios">

                        </div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios"></div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios"></div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios"></div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios"></div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios"></div>
                        <div class="line-users"></div>
                        <div class="lista_usuarios"></div>
                        <div class="line-users"></div>


                        <script>
                            const listaUsuariosDiv = document.querySelector(".lista_usuarios");

                            fetch("https://framming-api.onrender.com/users")
                                .then(res => res.json())
                                .then(data => {
                                    data.forEach(user => {
                                        const nomeUsuario = user.nomeUsuario;
                                        const nickUsuario = user.nickUsuario;
                                        const emailUsuario = user.emailUsuario;

                                        const divUsuario = document.createElement('div');
                                        divUsuario.classList.add("nome_usuario");

                                        // Adiciona classes específicas para nomeUsuario e nickUsuario
                                        const nomeUsuarioClass = "nome_usuario_nome";
                                        const nickUsuarioClass = "nome_usuario_nick";
                                        const emailUsuarioClass = "nome_usuario_email";

                                        divUsuario.innerHTML = `<p class="${nomeUsuarioClass}">${nomeUsuario}</p><p class="${nickUsuarioClass}">${nickUsuario}</p><p class="${emailUsuarioClass}">${emailUsuario }</p>`;

                                        listaUsuariosDiv.appendChild(divUsuario);
                                    });
                                })
                                .catch(error => console.error(error));
                        </script>

                        <script>
                            const res = document.querySelector(".res")

                            fetch("https://framming-api.onrender.com/users").then(resposta => {
                                return resposta.json()
                            }).then(corpo => {
                                console.log(corpo[0])
                                res.innerHTML = `${corpo[0]}`
                            })
                        </script>
                       
                    </div>

                </center>
            </div>

       

        </div>


        </main>

                
