@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
    background-color: #DEDEDE;
}


.container_pesquisa {
    display: grid;
    grid-template-columns: 4% 15px 17%;
    grid-template-rows: 30px 40px 50px;
    padding-left: 180px;
    grid-column-gap: -20px;
}

#divBusca {
    border-radius: 65px;
    border: none;
    background: #E9E9E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 600px;
    height: 50px;
    padding-top: 1px;
    grid-column: 4;
    grid-row: 2;
    margin-left: -90px;
}

    #divBusca button {
        background: transparent;
        border: none;
        font-size: 0;
        margin-left: 30px;
        grid-row: 1;
        width: 100px;
        height: 40px;
    }

    #divBusca img {
        margin-top: 10px;
        margin-left: 7px;
    }

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 8px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 30px;
    width: 540px;
    outline: 1;
}

#imgBusca {
    margin-top: 5px;
}

#button_home {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #E9E9E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

    #button_home img {
        width: 30px;
        height: 30px;
        align-self: center;
        place-items: center;
        grid-column: 2;
        grid-row: 1;
        margin-top: 8px;
    }

#button_notificacao {
    display: grid;
    grid-column: 5;
    grid-row: 2;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #E9E9E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

    #button_notificacao img {
        width: 30px;
        height: 30px;
        align-self: center;
        place-items: center;
        grid-column: 3;
        grid-row: 1;
        margin-top: 8px;
    }



#div_identificacao {
    display: grid;
    grid-column: 6;
    grid-row: 2;
    margin-left: 30px;
    width: 308px;
    height: 60px;
    border-radius: 67px;
    background-color: #E9E9E9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

    #div_identificacao img {
        width: 42px;
        height: 42px;
        grid-column: 3;
        margin-top: 10px;
    }

#div_indifica_role {
    width: 180px;
    height: 22px;
    transform: rotate(-0.045deg);
    border-radius: 15px;
    grid-column: 2;
    grid-row: 2;
    margin-left: -175px;
    margin-top: -25px;
    align-items: center;
    background: #D9D9D9;
}

#div_identificacao p {
    color: #373737;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%; /* 20.325px */
    margin-top: -46px;
    margin-left: 65px;
}

#div_indifica_role p {
    color: #4F4F4F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
    margin-top: 2px;
    text-align: start;
}

.menu {
    display: grid;
    grid-template-columns: repeat(1,9fr);
    margin-left: 30px;
}

.container_menu {
    display: grid;
    grid-template-columns: 110px 5fr;
    grid-gap: 20px;
    min-height: 95vh;
    margin-top: -90px;
    grid-column: 1;
    margin-left: 60px;
    margin-top: -95px;
}

.menu {
    display: grid;
    grid-column: 1;
    border-radius: 26px;
    background: #F66;
    height: 91vh;
    width: 130px;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 5px;
    margin-left: -10px;
    grid-template-rows: repeat(9,0fr);
}


#framming_logo_menu {
    place-items: center;
    margin-left: 25px;
    margin-top: 10px
}


#button_cliente_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 40px;
    grid-row: 1;
    margin-top: 40px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

    #button_cliente_menu img {
        width: 45px;
        height: 45px;
    }

#button_mensagens_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 34px;
    grid-row: 1;
    margin-top: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

    #button_mensagens_menu img {
        width: 60px;
        height: 65px;
        opacity: 0.51;
    }


#button_identificacao_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 40px;
    grid-row: 1;
    margin-top: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

    #button_identificacao_menu img {
        width: 45px;
        height: 45px;
        opacity: 0.51;
    }


#button_theater_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 40px;
    grid-row: 1;
    margin-top: 58px;
    width: 40px;
    height: 40px;
}

    #button_theater_menu img {
        width: 45px;
        height: 45px;
        opacity: 0.51;
    }

.buttons_sair_configuracao {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: repeat(2,5px);
    grid-template-columns: repeat(2,5fr);
    margin-top: 17vh;
}

#button_sair_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 36px;
    grid-row: 2;
    grid-column: 1;
    margin-left: 18px;
    width: 40px;
    height: 40px;
}

#button_configuracao_menu {
    background: transparent;
    border: none !important;
    font-size: 0;
    margin-left: 36px;
    grid-row: 2;
    margin-left: -1px;
    width: 20px;
    height: 20px;
}

    #button_configuracao_menu img {
        width: 36px;
        height: 36px;
    }

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    background-color: #f0f0f0;
    padding: 20px;
}

.container_menu_content {
    display: grid;
    grid-template-columns: repeat(4,140px);
    grid-template-rows: repeat(2,1px);
    grid-row-start: 2;
    padding: auto;
    margin-right: -5px;
}

.container_content {
    display: grid;
    grid-row: 1;
    width: 162vh;
    height: 78vh;
    border-radius: 28px;
    background: #E9E9E9;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    grid-column: 3;
    margin-left: 5px;
    margin-top: 30px;
}

.container_main {
    display: grid;
    grid-template-columns: repeat(15, 100px);
    grid-template-rows: repeat(25,29px);
}

.codigo_cinema {
    width: 319px;
    height: 610px;
    grid-column: 2;
    grid-row: 2;
    margin-left: -41px;
    border-radius: 16px;
    background: #DDD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


#codigo_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 34px;
    margin-top: -47px;
    grid-column: 5;
    border: none;
    grid-row: 6;
    padding-left: 46px;
}

#codigo_func_img {
    margin-top: 108px;
    margin-left: -357px;
}


#nome_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 34px;
    margin-top: -47px;
    grid-column: 5;
    border: none;
    grid-row: 10;
    padding-left: 46px;
}

#nome_func_img {
    margin-top: 224px;
    margin-left: -458px;
}

#email_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 34px;
    margin-top: -47px;
    grid-column: 5;
    border: none;
    grid-row: 14;
    padding-left: 46px;
}

#email_func_img {
    margin-top: 343px;
    margin-left: -558px;
}

#senha_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 34px;
    margin-top: -47px;
    grid-column: 5;
    border: none;
    grid-row: 18;
    padding-left: 46px;
}

#senha_func_img {
    margin-top: 455px;
    margin-left: -658px;
}

#confirma_senha_func {
    width: 379px;
    height: 56px;
    border-radius: 7px;
    background: #E3E3E3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 34px;
    margin-top: -47px;
    grid-column: 5;
    border: none;
    grid-row: 22;
    padding-left: 46px;
}

#confirma_senha_func_img {
    margin-top: 573px;
    margin-left: -759px;
}

#cadastre_func {
    width: 257px;
    height: 56px;
    border: none;
    border-radius: 11px;
    background: #EDA8A8;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.5%; /* 27.255px */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 11;
    grid-row: 11;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 5px;
}

    #cadastre_func:hover {
        background-color: #FF6666;
    }


#foto_cadastro_func {
    grid-column: 11;
    grid-row: 4;
    margin-left: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#div_perfil_codigo_func {
    grid-column: 11;
    grid-row: 3;
    margin-left: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#cod_cinema_p {
    color: #181818;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
}

#codigo_cadastro_func_p {
    grid-column: 8;
    width: 600px;
    color: #242424;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 118.5%; /* 35.55px */
}

#codigo_func_p {
    grid-column: 6;
    grid-row: 4;
    margin-left: 95px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%; /* 27.255px */
}

#codigo_func_result {
    font-size: 16px;
    grid-column: 5;
    margin-left: -151px;
    margin-top: 80px;
}


#codigo_nome_p {
    grid-column: 6;
    grid-row: 8;
    margin-left: 40px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#codigo_nome_result {
    font-size: 16px;
    grid-column: 5;
    margin-left: -251px;
    margin-top: 96px;
}


#codigo_email_p {
    grid-column: 6;
    grid-row: 12;
    margin-left: 40px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#codigo_email_result {
    font-size: 16px;
    grid-column: 5;
    margin-left: -259px;
    margin-top: 109px;
}

#codigo_senha_p {
    grid-column: 6;
    grid-row: 16;
    margin-left: 40px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#codigo_senha_result {
    font-size: 16px;
    grid-column: 5;
    margin-left: -253px;
    margin-top: 125px;
}

#codigo_Confime_p {
    grid-column: 6;
    grid-row: 20;
    margin-left: 95px;
    margin-top: 30px;
    width: 180px;
    color: #353535;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 118.5%;
}

#cod_nome_p, #cod_email_p, #cod_senha_p, #cod_cinema_p {
    color: #181818;
    margin-left: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
}

#choose_img {
    background: none;
    border: none;
    cursor: pointer;
}

#fileInput {
    background: none;
    border: none;
    cursor: pointer;
}

#imagePreview {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Deixa a imagem redonda */
    overflow: hidden; /* Esconde partes da imagem que ultrapassam a borda circular */
    grid-column: 11;
    margin-left: 200px;
}

#foto_codigo_func {
    margin-left: 63px;
    margin-top: 49px;
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Deixa a imagem redonda */
    overflow: hidden; /* Esconde partes da imagem que ultrapassam a borda circular */
    grid-column: 11;
    margin-left: 58px;
}
    #divBuscaPostagem {
        border-radius: 65px;
        border: none;
        background: #E9E9E9;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 769px;
        height: 50px;
        padding-top: -16px;
        grid-column: 9;
        grid-row: 2;
        margin-left: -801px;
        margin-top: 46px;
    }

    #divBuscaPostagem button {
        background: transparent;
        border: none;
        font-size: 0;
        margin-left: 30px;
        grid-row: 1;
        width: 100px;
        height: 40px;
    }

    #divBuscaPostagem img {
        margin-top: 12px;
        margin-left: 194px;
    }

#txtBuscaPostagem {
    float: left;
    background-color: transparent;
    padding-left: 8px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 39px;
    width: 512px;
    outline: 3px;
}

#resultado_pesquisa {
    width: 763px;
    height: 448px;
    display: none;
    border-radius: 13px;
    background: #D9D9D9;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    margin-top: 141px;
    margin-left: 623px;
}
.pink_line {
    width: 703px;
    height: 2px;
    border-radius: 28px;
    background: #E9E9E9;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 81px;
    background: #F66;
    margin-top: 35px;
    margin-left: 33px;
}

#excluir_post {
    width: 287px;
    height: 49px;
    border-radius: 6px;
    background: rgba(255, 102, 102, 0.45);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 47px;
    margin-left: 29px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
    cursor: pointer;
}


    #excluir_post:hover {
        background-color: #FF6666;
    }

#data_post {
    color: #707070;
    text-align: left;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
    margin-top: 21px;
    margin-left: 34px;
}

#denuncia_post {
    color: #707070;
    text-align: left;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
    margin-top: -7px;
    margin-left: 34px;
}

#filme_post {
    color: #707070;
    text-align: left;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.5%;
    margin-top: -6px;
    margin-left: 34px;
}

#post_result {
    color: #585858;
    text-align: justify;
    font-family: Poppins;
    font-size: 23px;
    margin-left: 35px;
    margin-right: 39px;
    font-weight: 600;
    line-height: 118.5%;
}

#minhaDiv {
    width: 763px;
    height: 448px;
    border-radius: 13px;
    background: #D9D9D9;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    margin-top: 141px;
    margin-left: 623px;
}

@media screen and (min-width:961px) {
    #foto_cadastro_func {
        grid-column: 12;
        margin-left: 100px;
    }

    #cadastre_func {
        grid-column: 12;
        margin-left: 70px;
    }

    #codigo_func, #nome_func, #email_func, #senha_func, #confirma_senha_func {
        width: 425px;
        grid-column: 7;
    }

    .codigo_cinema {
        grid-row: 3;
        width: 372px;
    }



    .container_pesquisa {
        margin-left: 40px;
    }
}

@media screen and (min-width:751px) {
    #button_sair_menu, #button_configuracao_menu {
        margin-top: -75px;
    }

    .codigo_cinema {
        width: 319px;
        height: 626px;
        grid-row: 2;
        margin-top: 3px;
        margin-left: -50px;
    }

    #button_sair_menu, #button_configuracao_menu {
        margin-top: 9px;
    }

    .container_content {
        margin-top: 3px;
        margin-left: -2px;
        height: 700px;
    }

    .container_pesquisa {
        padding-left: 150px;
    }

    #div_identificação {
        margin-left: -42px;
    }

    #button_notificacao {
        margin-left: -59px;
    }

    #codigo_func, #nome_func, #email_func, #senha_func, #confirma_senha_func {
        width: 425px;
        grid-column: 5;
        margin-top: -38px;
        margin-left: 17px;
    }

    #codigo_cadastro_func_p {
        grid-column: 7;
    }

    #codigo_func_p {
        font-size: 16px;
        grid-column: 6;
        margin-left: -95px;
        margin-top: -2px;
    }

    #codigo_email_p {
        grid-column: 5;
        margin-left: -45px;
        margin-top: 0px;
        font-size: 16px;
    }

    #codigo_nome_p {
        grid-column: 6;
        font-size: 16px;
        margin-left: -146px;
        margin-top: 1px;
    }

    #codigo_senha_p {
        margin-left: -146px;
        margin-top: 2px;
        font-size: 16px;
    }


    #codigo_Confime_p {
        margin-left: -93px;
        margin-top: -3px;
        font-size: 16px;
    }

    #foto_cadastro_func {
        grid-column: 10;
        margin-left: 68px;
    }

    #cadastre_func {
        grid-column: 10;
        margin-left: 99px;
        margin-top: 33px;
    }

    .container_content {
        margin-left: -38px;
    }

    .menu {
        margin-left: -13px;
    }

    .container_main {
        width: 100px;
    }

    #codigo_func_img {
        margin-top: 89px;
        margin-left: -78px;
    }

    #nome_func_img {
        margin-top: 177px;
        margin-left: -76px;
    }

    #email_func_img {
        margin-top: 264px;
        margin-left: -176px;
    }

    #senha_func_img {
        margin-top: 351px;
        margin-left: -79px;
    }

    #confirma_senha_func_img {
        margin-top: 465px;
        margin-left: -178px;
    }

    #imagePreview {
        width: 218px;
        height: 218px;
        margin-left: 317px;
        margin-top: -14px;
    }

    #codigo_func_result {
        font-size: 16px;
        grid-column: 5;
        margin-left: -159px;
        margin-top: 264px;
    }

    #codigo_nome_result {
        font-size: 16px;
        grid-column: 5;
        margin-left: -258px;
        margin-top: 279px;
    }

    #codigo_email_result {
        font-size: 16px;
        grid-column: 5;
        margin-left: -263px;
        margin-top: 292px;
    }

    #codigo_senha_result {
        font-size: 16px;
        grid-column: 5;
        margin-left: -253px;
        margin-top: 306px;
    }
}

@media screen and (min-width:723.33px) {
}
